{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <title>Document</title>
</head>
<body>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <input type="text" name="query" id="">
        <input type="submit" value="Get Sentiment">
    </form>

    <h3 style="color:red;">Sentiment  :- {{polarity}}</h3>
    <h3 style="color:red;">Subjective :- {{subjectivity}}</h3>

    
            <div id='myChart'></div>

    <script>
        var myConfig8 = {
            "type": "gauge",
            "scale-r": {
              "aperture": 200,
              "values": "0:100:20",
              "center": {
                "size": 5,
                "background-color": "#66CCFF #FFCCFF",
                "border-color": "none"
              },
              "ring": {
                "size": 10,
                "rules": [{
                    "rule": "%v >= 0 && %v <= 20",
                    "background-color": "red"
                  },
                  {
                    "rule": "%v >= 20 && %v <= 40",
                    "background-color": "orange"
                  },
                  {
                    "rule": "%v >= 40 && %v <= 60",
                    "background-color": "yellow"
                  },
                  {
                    "rule": "%v >= 60 && %v <= 80",
                    "background-color": "green"
                  },
                  {
                    "rule": "%v >= 80 && %v <=100",
                    "background-color": "blue"
                  }
                ]
              },
              "labels": ["0", "Poor", "Fair", "Good", "Great", "100"], //Scale Labels
              "item": { //Scale Label Styling
                "font-color": "purple",
                "font-family": "Georgia, serif",
                "font-size": 12,
                "font-weight": "bold", //or "normal"
                "font-style": "normal", //or "italic"
                "offset-r": 0,
                "angle": "auto"
              }
            },
            "plot": {
              "csize": "5%",
              "size": "100%",
              "background-color": "#000000"
            },
            "series": [{
              "values": [{{polarity}}*100]
            }]
          };
           
          zingchart.render({
            id: 'myChart',
            data: myConfig8,
            height: "100%",
            width: "100%"
          });
        </script>
        
</html>